<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{231,279}</string>
                <key>spriteSourceSize</key>
                <string>{233,283}</string>
                <key>textureRect</key>
                <string>{{636,302},{231,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{322,252}</string>
                <key>spriteSourceSize</key>
                <string>{322,254}</string>
                <key>textureRect</key>
                <string>{{1,295},{322,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{299,273}</string>
                <key>spriteSourceSize</key>
                <string>{309,283}</string>
                <key>textureRect</key>
                <string>{{666,1},{299,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{298,298}</string>
                <key>spriteSourceSize</key>
                <string>{308,298}</string>
                <key>textureRect</key>
                <string>{{366,1},{298,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{309,221}</string>
                <key>spriteSourceSize</key>
                <string>{309,229}</string>
                <key>textureRect</key>
                <string>{{325,301},{309,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{363,292}</string>
                <key>spriteSourceSize</key>
                <string>{363,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{363,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yu.png</string>
            <key>size</key>
            <string>{940,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44510cc0a9587495561094f0921e5304:9feeb324168b4caee28f764566287a93:b16a8c114bfc0ce84c5fad54a7e85cd0$</string>
            <key>textureFileName</key>
            <string>yu.png</string>
        </dict>
    </dict>
</plist>
